.product-title {
    color: #333;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    padding: 35px;
}

.product-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #8e8b6f;
    margin: 15px auto 0;
}

.product-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.product-description {
    color: var(--text-muted);
    font-size: 15px;
    text-align: left;
    color: #fff;
}

.new-product-card {
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 250px;
    min-width: 150px;
    text-align: left;
    font-family: "Montserrat", sans-serif;

}

.product-image {
    position: relative;
    margin-bottom: 20px;
}

.product-image img {
    width: 100%;
    border-radius: 8px;
}

.product-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: left;
}

.product-price {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
}

.add-to-cart_Btn {
    display: flex;
    justify-content: center;
    background-color: #8e8b6f;
    text-decoration: none;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s;

}



.add-to-cart_Btn:hover {
    background-color: #a3a380;
}


/* Začátek Kontakt sekce */

.contact-infotmation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 50px;
    background-color: #8e8b6f;
    flex-direction: column;
}

.logo-container{
    display: flex;
    justify-content: left;
}

.logo-container img {
    width: 225px;
    height: 120px;
}

.contact-menu {
    list-style-type: none;
}

.contact-menu a {
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.contact_information-title {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.contact_ContactUS-title {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.contact-info .icon {
    display: inline-flex;
    align-items: center;
    margin-right: 12px;
}

.contact-info p {
    display: flex;
    align-items: center;
}

.social-icons {
    display: flex;
    gap: 15px;
    width: 110px;
    padding-bottom: 20px;
}

.social-icons i {
    color: #111;
}

.contact-button {
    background-color: #333;
    color: white;
    padding: 15px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s; 
}

.post-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.post-card {
    background-color: white;
    border: 8px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 150px; 
    height: 80px;
    box-sizing: border-box; 
    border-radius: 8px;
}

.post-card img {
    max-width: 100%;
    max-height: 100%;
}


.footer {
    background-color: #222;
    padding: 20px;
}

.footer h1 {
    text-align: center;
    color: #a3a380;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
}
.alert {
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.alert-success {
    background-color: #4CAF50; /* Zelené pozadí */
    color: white;
}

.alert-danger {
    background-color: #f44336; /* Červené pozadí pro error */
    color: white;
}